<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

In [5]:
df=pd.read_csv(file_path)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398 entries, 0 to 11551
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Respondent                   11398 non-null  int64
 1   MainBranch                   11398 non-null  object
 2   Hobbyist                     11398 non-null  object
 3   OpenSourcer                  11398 non-null  object
 4   OpenSource                   11317 non-null  object
 5   Employment                   11398 non-null  object
 6   Country                      11398 non-null  object
 7   Student                      11347 non-null  object
 8   EdLevel                      11286 non-null  object
 9   UndergradMajor               10661 non-null  object
 10  EduOther                     11234 non-null  object
 11  OrgSize                      11302 non-null  object
 12  DevType                      11333 non-null  object
 13  YearsCode                    11389 non-null  object
 14  Age1stCode                   11385 non-null  object
 15  YearsCodePro                 11382 non-null  object
 16  CareerSat                    11398 non-null  object
 17  JobSat                       11397 non-null  object
 18  MgrIdiot                     10905 non-null  object
 19  MgrMoney                     10901 non-null  object
 20  MgrWant                      10905 non-null  object
 21  JobSeek                      11398 non-null  object
 22  LastHireDate                 11398 non-null  object
 23  LastInt                      10985 non-null  object
 24  FizzBuzz                     11361 non-null  object
 25  JobFactors                   11395 non-null  object
 26  ResumeUpdate                 11359 non-null  object
 27  CurrencySymbol               11398 non-null  object
 28  CurrencyDesc                 11398 non-null  object
 29  CompTotal                    10589 non-null  float64
 30  CompFreq                     11192 non-null  float64
 31  ConvertedComp                10582 non-null  float64
 32  WorkWeekHrs                  11276 non-null  float64
 33  WorkPlan                     11277 non-null  object
 34  WorkChallenge                11234 non-null  object
 35  WorkRemote                   11390 non-null  object
 36  WorkLoc                      11398 non-null  object
 37  ImpSyn                       11393 non-null  object
 38  CodeRev                      11397 non-null  object
 39  CodeRevHrs                   8972 non-null   float64
 40  UnitTests                    11369 non-null  object
 41  PurchaseHow                  11202 non-null  object
 42  PurchaseWhat                 11360 non-null  object
 43  LanguageWorkedWith           11387 non-null  object
 44  LanguageDesireNextYear       11264 non-null  object
 45  DatabaseWorkedWith           10945 non-null  object
 46  DatabaseDesireNextYear       10356 non-null  object
 47  PlatformWorkedWith           10987 non-null  object
 48  PlatformDesireNextYear       10854 non-null  object
 49  WebFrameWorkedWith           10005 non-null  object
 50  WebFrameDesireNextYear       9781 non-null   object
 51  MiscTechWorkedWith           9216 non-null   object
 52  MiscTechDesireNextYear       9943 non-null   object
 53  DevEnviron                   11369 non-null  object
 54  OpSys                        11364 non-null  object
 55  Containers                   11316 non-null  object
 56  BlockchainOrg                9076 non-null   object
 57  BlockchainIs                 8788 non-null   object
 58  BetterLife                   11300 non-null  object
 59  ITperson                     11363 non-null  object
 60  OffOn                        11360 non-null  object
 61  SocialMedia                  11105 non-null  object
 62  Extraversion                 11378 non-null  object
 63  ScreenName                   10891 non-null  object
 64  SOVisit1st                   11073 non-null  object
 65  SOVisitFreq                  11393 non-null  object
 66  SOVisitTo                    11397 non-null  object
 67  SOFindAnswer                 11395 non-null  object
 68  SOTimeSaved                  11348 non-null  object
 69  SOHowMuchTime                9481 non-null   object
 70  SOAccount                    11397 non-null  object
 71  SOPartFreq                   10270 non-null  object
 72  SOJobs                       11392 non-null  object
 73  EntTeams                     11393 non-null  object
 74  SOComm                       11398 non-null  object
 75  WelcomeChange                11313 non-null  object
 76  SONewContent                 9433 non-null   object
 77  Age                          11111 non-null  float64
 78  Gender                       11325 non-null  object
 79  Trans                        11275 non-null  object
 80  Sexuality                    10856 non-null  object
 81  Ethnicity                    10723 non-null  object
 82  Dependents                   11258 non-null  object
 83  SurveyLength                 11379 non-null  object
 84  SurveyEase                   11384 non-null  object
 85  NormalizedAnualCompensation  10583 non-null  float64
dtypes: float64(7), int64(1), object(78)
memory usage: 7.6+ MB

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [7]:
# your code goes here
df.duplicated().sum()

154

In [34]:
# your code goes here
df.shape[0]

11398

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [8]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [9]:
df.duplicated().sum()

0

In [30]:
print(df.shape[0])

11398

In [35]:

df_unique = df.drop_duplicates()

filas_en_blanco = df_unique['EdLevel'].isna().sum()
print(f"Número de filas en blanco en la columna EdLevel: {filas_en_blanco}")

Número de filas en blanco en la columna EdLevel: 112

In [36]:
# Eliminar filas duplicadas
df_unique = df.drop_duplicates()

# Contar filas faltantes en la columna 'Country'
filas_faltantes = df_unique['Country'].isnull().sum()

print(f"Número de filas faltantes en la columna Country: {filas_faltantes}")

Número de filas faltantes en la columna Country: 0

## Finding Missing values

Find the missing values for all columns.

In [10]:
missing_data=df.isna()
missing_data.sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [16]:
missing_data['WorkLoc'].sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [18]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [44]:
conteo = df['Employment'].value_counts()
print(f"{conteo} veces")

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64 veces

In [43]:
conteo = df['UndergradMajor'].value_counts()
print(f"{conteo} veces")

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64 veces

In [45]:
conteo = df['ConvertedComp'].value_counts()
print(f"{conteo} veces")

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64 veces

Identify the value that is most frequent (majority) in the WorkLoc column.

In [20]:
df['WorkLoc'].mode()

0    Office
Name: WorkLoc, dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [25]:
# your code goes here
df['WorkLoc'].fillna(df['WorkLoc'].mode()[0], inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [27]:
df['WorkLoc'].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [61]:
compen_rf=df['CompFreq'].unique()
print(compen_rf)

[ 1. 12. 52. nan]

In [63]:
df_unique = df.drop_duplicates()
encuestados_anuales = df_unique.shape[0]
print(f"Número de encuestados que cobran al año: {encuestados_anuales}")
porcentaje = (encuestados_anuales / len(df_unique)) * 100
print(f"Porcentaje de encuestados que cobran al año: {porcentaje:.2f}%")

Número de encuestados que cobran al año: 11398
Porcentaje de encuestados que cobran al año: 100.00%

In [28]:
df['CompFreq'].isnull().sum()

206

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [55]:
df['CompFreq'].replace(to_replace='Yearly', value=1, inplace=True)
df['CompFreq'].replace(to_replace='Monthly', value=12, inplace=True)
df['CompFreq'].replace(to_replace='Weekly', value=52, inplace=True)

df['NormalizedAnualCompensation'] = df ["CompTotal"] * df["CompFreq"]
print(df['NormalizedAnualCompensation'].median() )

100000.0

In [48]:
valores_unicos = len(df['CompFreq'].unique())
print(f"Número de valores únicos en la columna CompFreq: {valores_unicos}")

Número de valores únicos en la columna CompFreq: 4

In [52]:

df_unique = df.drop_duplicates()
print(df_unique.count())

Respondent                     11398
MainBranch                     11398
Hobbyist                       11398
OpenSourcer                    11398
OpenSource                     11317
                               ...
Ethnicity                      10723
Dependents                     11258
SurveyLength                   11379
SurveyEase                     11384
NormalizedAnualCompensation    10583
Length: 86, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).